@import url('https://fonts.googleapis.com/css2?family=Lato&amp;display=swap');

/* Font override */
html, body, [class*="css"] {
    font-family: 'Lato', 'Calibri', sans-serif;
}

/* Sidebar button styling */
.stButton>button {
    background-color: #003DA5;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.stButton>button:hover {
    background-color: #009CDE;
    color: #003DA5;
}

/* Text input styling */
.stTextInput>div>div>input {
    color: black;
    background-color: #FFFFFF;
    border: 1px solid #003DA5;
    padding: 0.5em;
    border-radius: 4px;
}

/* Sidebar customization for desktop */
@media (min-width: 768px) {
    [data-testid="stSidebar"] {
        width: 400px !important;
        min-width: 400px !important;
    }

    [data-testid="stSidebar"] .css-1lcbmhc {
        resize: none !important;
    }
}

/* Sidebar customization for mobile */
@media (max-width: 767px) {
    [data-testid="stSidebar"] {
        width: 100% !important;
        min-width: 100% !important;
    }

    [data-testid="stSidebar"] .css-1lcbmhc {
        resize: none !important;
    }
}


